<ion-header>
  <ion-navbar>
    <ion-title>
      A proof of concept App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="large" [innerHTML]="htmlContent"></div>
</ion-content>
